<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <springProfile name="local">
        <include resource="logback/logback-console.xml" />
    </springProfile>
    <springProfile name="production">
        <include resource="logback/logback-console.xml" />
        <include resource="logback/logback-file.xml" />
    </springProfile>
</configuration>